$primary: #8bc34a;
$primary-light: #dcedc8;
$primary-dark: #558b2f;

$secondary: #9c27b0;
$secondary-light: #e1bee7;
$secondary-dark: #6a1b9a;

$accent: #ffc107;
$accent-light: #ffecb3;
$accent-dark: #ff6f00;

$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.54); // 54% black
$text-disabled: rgba(0, 0, 0, 0.38); // 38% black
$text-field: rgba(0, 0, 0, 0.42); // 42% black
$text-secondary-dark-mode: rgba(255, 255, 255, 0.7);

$paper-light: #ffffff;
$paper-dark: #424242;
$default-light: #fafafa;
$default-dark: #303030;

